* {
    font-family:'Roboto Condensed', Helvetica, sans-serif;
    font-size: 19px;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-VariableFont_wght.ttf');
}
nav {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    border-bottom: #7c2127 1px solid;
}

nav a {
    color: black;
    
    padding: 8px 35px;
    text-transform: uppercase;
    display: inline-flex;
}

nav a:hover {
    color: #B8464D;
}

.logo-container {
    background-image: url('/img/header-bg.jpg');
    display: flex;
}

.logo {
    margin-left: 20px;
}

.title-container {
    color:#fff;
    text-transform: uppercase;
    margin: 20px;
    margin-left: 90px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.sub-title {
    font-size: 18px;
    line-height: 35px;
}

h2 { 
    text-transform: uppercase;
    color: #7c2127;
}

p {
    margin: 5px;
    font-size: 16px;
}